name: Backend CI/CD

on:
  push:
      branches:
        - main

  jobs:
    build:
      runs-on: ubuntu-latest

  steps:
    - name: Checkout code
        uses: action/checkout@v3
    
    - name: Node setup
        uses: action/setup-node@v3
          with:
            node-version: '2'
