name: Full CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '23.11.0'
          cache: 'npm'

      - name: Install & Build
        run: |
              cd Frontend
              npm ci
              npm run build
            
            fi
          else
            if [ -d "Backend" ]; then
              cd Backend
              npm ci
              npm run build
            else
              echo "Backend folder not found!"
              exit 1
            fi
          fi
