name: Full CI/CD

on:
  push:
    branches:
        - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project:[Frontend, Backend]
  
  steps:
    - name: Checkout code
     uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with: 
        node-version:22

    - name: Install & Build
      run: |
        if [ "${{ matrix.project }}" == "Frontend" ]; then
          cd Frontend
          npm ci
          npm run build
        else
          cd Backend
          npm ci
          npm run build # or lint/test
        fi
